---
    # pagination:
    #     data: coursesData.data
    #     size: 1
    #     alias: course
    #     addAllPagesToCollections: true
    # permalink: "course/{{ course.id | slugify}}/"
    # eleventyComputed:
    #     title: "{{ course.id }}"
    # layout: base
    # tags: courses
---

<p>Hello</p>