---
layout: base
title: Homepage 
---

<ul>
  <li>
    <a href="/all-parks">Parks page</a>
  </li>
  <p>This is part 1 and 2 for the assignment, first it list all the parks fetched from the API.
    Then each park is display the information of the park as well the details of each places you can find
                    in that park. This is done by calling the /places API using the parkCode from the /parks API.</p>
  <li>
    <a href="/course">GraphQL API for Canvas page</a>
    <p>This is part 3 of the assignment, displaying data from the course Canvas page using the GraphQL API. 
      It displays the assignments and modules from the course. The assignments list is ordering by more recent due date.

    </p>
  </li>
  <li>
    <p>Part 4 can be found on the README</p>
  </li>
</ul>