---
layout: base
title: Homepage 
---

<ul>
  <li>
    <a href="/all-parks">Parks page</a>
  </li>

    <p> This is the list of parks and places from Assigment 3 using the CI and netlify features!</p>
  </li>
</ul>